# Python caches
**__pycache__**

# Dependency output
/dependencies

# Build Output
/build
/temp
/deploy

# Makefile
**/Makefile

# Visual Studio
/.vs
**.sln
**.vcxproj
**.vcxproj.user
**.vcxproj.filters
