# Python caches and venv
**__pycache__**
/venv/venv

# Conan profiles
/profiles

# Dependency output
/dependencies
/dlls

# Build Output
/build
/temp
/deploy

# Project archives
/archive

# Makefile
**/Makefile

# Visual Studio
/.vs
**.sln
**.slnx
**.vcxproj
**.vcxproj.user
**.vcxproj.filters

# Dependencie graph output
/dependencies_*.html
