
# === GitHub linguist ===
# Scripts will count towards vendored
scripts/* linguist-vendored
# All root files will also be ignored
conanfile.py linguist-vendored
mox.bat linguist-vendored
mox.sh linguist-vendored
mox.lua linguist-vendored

